<!DOCTYPE html>
<html>
<head>
  <title>Crear torneo</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Crear un nuevo torneo</h1>
<p>Por favor, introduce los datos del nuevo torneo:</p>
<form action="/creatorneo" method="post">
  Nombre:<br>
  <input type="text" name="nombre" value="nombre">
  <br><br>
  <input type="submit" value="Enviar">
</form>

</body>
</html>
