<!DOCTYPE html>
<html>
  <head>
    <title>Fifator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>FIFATOR</h1>
    <p>Bienvenido a la API REST de Fifator</p>
    <p>Puedes comprobar una lista de los torneos creados <a href="/info/torneos">aquí</a>.</p>
    <p>Puedes comprobar una lista de los usuarios <a href="/info/usuarios">aquí</a>.</p>
    <p>Puedes comprobar una lista de los equipos disponibles <a href="/info/equipos">aquí</a>.</p>

  </body>
</html>
